*{
    align-items: center;
}
h1, h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #8048B9;
}
h1{
    font-size: 5em;
}
h3 {
    color: #452763;
    font-size: 1.6em;
    margin-bottom: 1%;
}
.line {
    width: 20em;
    border-color: #ff9215;
}
.films-form {
    display: flex;
    flex-direction: column;
    /* margin-left: 20%; */
    font-family: 'Roboto', sans-serif;
    color: #ff9215;
}

.form-group {
    width: 20em;
    height: 10em;
    padding-left: 5em;
    padding-top: 1em; 
    padding-bottom: 1em; 
    background-color: #8048B9;
    /* margin-top: 5%;
    margin-bottom: 8%; */
    border-radius: 2em;
    box-shadow: 0 0 10px;
}

.form-label {
    color: #ff9215;
    display: flex;
    font-weight: bold;
    margin-top: 3%;
}

.form-input {
    padding: 2%;
    border: none;
    border-radius: 0.5em;
    color: #ff9215;
    width: 17em;
}

.form-button {
    font-size: 15px;
    margin-top: 3%;
    padding: 2%;
    background-color: #ff9215;
    color: #452763;
    border-color: #ff9215;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 0 0 10px;
   margin-left: 65%;
}

.form-button:hover {
    background-color: #d2770e;
    color: #fff;
}
::placeholder {
    color: #ff9215ad;
}
.film-list {
    margin-top: 3%;
    border-radius: 2em;
    box-shadow: 0 0 10px;
    width: 25em;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #8048B9;
}

.film-button button {
    background-color: #452564;
    color: #ff9215;
    font-size: 15px;
    width: 5.5em;
    padding: 1.5%;
    margin: 0.5%;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 0 0 10px;
}

.film-button button:hover {
    background-color: #ff9215;
    color: #452564;
    cursor: pointer;
    box-shadow: 0 0 10px;
}


/* Morado: #8048B9
Naranja: #F48605
Amarillo: #FFF7B4 */